
<canvas width="960" height="500"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
<script>

var canvas = document.querySelector("canvas"),
    context = canvas.getContext("2d");

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = canvas.width - margin.left - margin.right,
    height = canvas.height - margin.top - margin.bottom;

var x = d3.scaleBand()
    .rangeRound([0, width])
    .padding(0.1);

var y = d3.scaleLinear()
    .rangeRound([height, 0]);

context.translate(margin.left, margin.top);

d3.json("https://www.alphavantage.co/query?function=SECTOR&apikey=<%= ENV['ALPHA_VANTAGE_KEY']%>", function(error, data) {
  if (error) throw error;
      console.log("it begins"+ data);
  e =  data["Rank A: Real-Time Performance"];
  data.sector = e.keys;
  data.frequency = +e.values;
  data.title = data["Meta Data"]["Information"];
  return data;

  x.domain(data.map(function(d) { console.log(d); console.log(d.sector); return d.sector; }));
  y.domain([0, d3.max(data, function(d) { console.log(d); console.log(d.frequency); return d.frequency; })]);

  var yTickCount = 10,
      yTicks = y.ticks(yTickCount),
      yTickFormat = y.tickFormat(yTickCount, "%");

  context.beginPath();
  x.domain().forEach(function(d) {
    context.moveTo(x(d) + x.bandwidth() / 2, height);
    context.lineTo(x(d) + x.bandwidth() / 2, height + 6);
  });
  context.strokeStyle = "black";
  context.stroke();

  context.textAlign = "center";
  context.textBaseline = "top";
  x.domain().forEach(function(d) {
    context.fillText(d, x(d) + x.bandwidth() / 2, height + 6);
  });

  context.beginPath();
  yTicks.forEach(function(d) {
    context.moveTo(0, y(d) + 0.5);
    context.lineTo(-6, y(d) + 0.5);
  });
  context.strokeStyle = "black";
  context.stroke();

  context.textAlign = "right";
  context.textBaseline = "middle";
  yTicks.forEach(function(d) {
    context.fillText(yTickFormat(d), -9, y(d));
  });

  context.beginPath();
  context.moveTo(-6.5, 0 + 0.5);
  context.lineTo(0.5, 0 + 0.5);
  context.lineTo(0.5, height + 0.5);
  context.lineTo(-6.5, height + 0.5);
  context.strokeStyle = "black";
  context.stroke();

  context.save();
  context.rotate(-Math.PI / 2);
  context.textAlign = "right";
  context.textBaseline = "top";
  context.font = "bold 10px sans-serif";
  context.fillText("Frequency", -10, 10);
  context.restore();

  context.fillStyle = "steelblue";
  data.forEach(function(d) {
    context.fillRect(x(d.sector), y(d.frequency), x.bandwidth(), height - y(d.frequency));
  });
});

</script>






<!-- <div id="chart"></div>--> 
<!-- <canvas width="960" height="500"></canvas>--> 
<!-- load the d3.js library -->     
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>

<script>
        var width = 360;
        var height = 360;
        var svg = d3.select('#chart')
          .append('svg')
          .attr('width', width)
          .attr('height', height)
          .append('g')
          .attr('transform', 'translate(' + (width / 2) + 
            ',' + (height / 2) + ')');

var num = 10
var dataset = d3.range(4).map((d, i) => {
	return {key: i, values:d3.range(num).map(c => Math.random()*(i+1))}
})

var groups = d3.select('svg')
	.selectAll('g')
	.data(dataset)
	.enter()
	.append('g')
	.attr('transform', (d, i) => `translate(${i*100} ,0)`)

var mapX = d3.scaleLinear()
	.domain([0, num-1])
	.range([0, 80])

var min = d3.min(dataset, d => d3.min(d.values, c => c))
var max = d3.max(dataset, d => d3.max(d.values, c => c))

var mapY = d3.scaleLinear()
	.domain([max, min])
	.range([0, 100])

var lineGen = d3.line()
	.x((d, i) => mapX(i))
	.y(d => mapY(d))

groups.append('path')
	.attr('d', d => lineGen(d.values))
	.style('fill', 'none')
	.style('stroke', 'red')

var axis = d3.axisRight(mapY)
	.ticks(10)

groups.append('g')
	.classed('ax', true)
	.call(axis)

// Get the data
var canvas = document.querySelector("canvas"),
    context = canvas.getContext("2d");

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = canvas.width - margin.left - margin.right,
    height = canvas.height - margin.top - margin.bottom;

var x = d3.scaleBand()
    .rangeRound([0, width])
    .padding(0.1);

var y = d3.scaleLinear()
    .rangeRound([height, 0]);

context.translate(margin.left, margin.top);

d3.json("https://www.alphavantage.co/query?function=SECTOR&apikey=<%= ENV['ALPHA_VANTAGE_KEY']%>", function(error, data) {
  if (error) throw error;

  // format the data

     console.log(data);



});

</script>-->
